<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<RollingFile name="file" fileName="logs/kafka_messaging.log" filePattern="logs/kafka_messaging-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %c{1.}:%M():%L - %msg%n"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %c{1.}:%M():%L - %msg%n}{FATAL=white, ERROR=red, WARN=Cyan, INFO=grey, DEBUG=green}"/>
		</Console>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="file"/>
			<AppenderRef ref="STDOUT"/>
		</Root>
		<Logger name="demo.kafka.messaging" level="info"/>
	</Loggers>
</Configuration>